In [1]:
# import statements
import pandas as pd
import numpy as np

In [2]:
# read data from .tsv file and skp any bad lines in the file
data = pd.read_csv('amazon_reviews_us_Electronics_v1_00.tsv', sep='\t', error_bad_lines=False)
# print data records
data.head()

C:\Users\patil\AppData\Local\Temp\ipykernel_8232\4223777463.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('amazon_reviews_us_Electronics_v1_00.tsv', sep='\t', error_bad_lines=False)
b'Skipping line 9076: expected 15 fields, saw 22\nSkipping line 19256: expected 15 fields, saw 22\nSkipping line 24313: expected 15 fields, saw 22\nSkipping line 47211: expected 15 fields, saw 22\nSkipping line 54295: expected 15 fields, saw 22\nSkipping line 56641: expected 15 fields, saw 22\nSkipping line 63067: expected 15 fields, saw 22\n'
b'Skipping line 93796: expected 15 fields, saw 22\n'
b'Skipping line 132806: expected 15 fields, saw 22\nSkipping line 164631: expected 15 fields, saw 22\nSkipping line 167019: expected 15 fields, saw 22\nSkipping line 167212: expected 15 fields, saw 22\n'
b'Skipping line 198103: expected 15 fields, saw 22\nSkipping line 199191: expected 15 fields, saw 22\nSkipping line 202841: expected 15 fields, saw 22\nSkipping line 218228: expected 15 fields, saw 22\nSkipping line 235900: expected 15 fields, saw 22\n'
b'Skipping line 277761: expected 15 fields, saw 22\nSkipping line 304582: expected 15 fields, saw 22\nSkipping line 312029: expected 15 fields, saw 22\n'
b'Skipping line 343692: expected 15 fields, saw 22\nSkipping line 352291: expected 15 fields, saw 22\nSkipping line 363414: expected 15 fields, saw 22\nSkipping line 378087: expected 15 fields, saw 22\nSkipping line 378720: expected 15 fields, saw 22\nSkipping line 378760: expected 15 fields, saw 22\nSkipping line 379336: expected 15 fields, saw 22\n'
b'Skipping line 402682: expected 15 fields, saw 22\n'
b'Skipping line 466560: expected 15 fields, saw 22\nSkipping line 486823: expected 15 fields, saw 22\nSkipping line 489036: expected 15 fields, saw 22\nSkipping line 496148: expected 15 fields, saw 22\nSkipping line 522330: expected 15 fields, saw 22\n'
b'Skipping line 552961: expected 15 fields, saw 22\nSkipping line 577388: expected 15 fields, saw 22\nSkipping line 582182: expected 15 fields, saw 22\n'
b'Skipping line 590653: expected 15 fields, saw 22\nSkipping line 608846: expected 15 fields, saw 22\nSkipping line 615442: expected 15 fields, saw 22\nSkipping line 645607: expected 15 fields, saw 22\nSkipping line 654323: expected 15 fields, saw 22\n'
b'Skipping line 714935: expected 15 fields, saw 22\n'
b'Skipping line 749608: expected 15 fields, saw 22\nSkipping line 753868: expected 15 fields, saw 22\nSkipping line 762504: expected 15 fields, saw 22\nSkipping line 771706: expected 15 fields, saw 22\nSkipping line 773376: expected 15 fields, saw 22\n'
b'Skipping line 792407: expected 15 fields, saw 22\nSkipping line 793933: expected 15 fields, saw 22\nSkipping line 813269: expected 15 fields, saw 22\nSkipping line 835491: expected 15 fields, saw 22\nSkipping line 841176: expected 15 fields, saw 22\nSkipping line 844604: expected 15 fields, saw 22\n'
b'Skipping line 857952: expected 15 fields, saw 22\nSkipping line 859568: expected 15 fields, saw 22\nSkipping line 860789: expected 15 fields, saw 22\nSkipping line 863093: expected 15 fields, saw 22\nSkipping line 881608: expected 15 fields, saw 22\nSkipping line 891157: expected 15 fields, saw 22\nSkipping line 893799: expected 15 fields, saw 22\nSkipping line 906438: expected 15 fields, saw 22\nSkipping line 914856: expected 15 fields, saw 22\n'
b'Skipping line 940736: expected 15 fields, saw 22\nSkipping line 965818: expected 15 fields, saw 22\n'
b'Skipping line 993840: expected 15 fields, saw 22\nSkipping line 1019036: expected 15 fields, saw 22\nSkipping line 1019205: expected 15 fields, saw 22\n'
b'Skipping line 1058122: expected 15 fields, saw 22\n'
b'Skipping line 1144887: expected 15 fields, saw 22\nSkipping line 1147255: expected 15 fields, saw 22\nSkipping line 1164497: expected 15 fields, saw 22\nSkipping line 1166930: expected 15 fields, saw 22\n'
b'Skipping line 1218319: expected 15 fields, saw 22\nSkipping line 1232868: expected 15 fields, saw 22\n'
b'Skipping line 1307335: expected 15 fields, saw 22\n'
b'Skipping line 1621422: expected 15 fields, saw 22\n'
b'Skipping line 1857720: expected 15 fields, saw 22\n'
b'Skipping line 1935753: expected 15 fields, saw 22\n'
b'Skipping line 1988449: expected 15 fields, saw 22\n'

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,41409413,R2MTG1GCZLR2DK,B00428R89M,112201306,yoomall 5M Antenna WIFI RP-SMA Female to Male ...,Electronics,5,0,0,N,Y,Five Stars,As described.,2015-08-31
1,US,49668221,R2HBOEM8LE9928,B000068O48,734576678,"Hosa GPM-103 3.5mm TRS to 1/4"" TRS Adaptor",Electronics,5,0,0,N,Y,It works as advertising.,It works as advertising.,2015-08-31
2,US,12338275,R1P4RW1R9FDPEE,B000GGKOG8,614448099,Channel Master Titan 2 Antenna Preamplifier,Electronics,5,1,1,N,Y,Five Stars,Works pissa,2015-08-31
3,US,38487968,R1EBPM82ENI67M,B000NU4OTA,72265257,LIMTECH Wall charger + USB Hotsync & Charging ...,Electronics,1,0,0,N,Y,One Star,Did not work at all.,2015-08-31
4,US,23732619,R372S58V6D11AT,B00JOQIO6S,308169188,Skullcandy Air Raid Portable Bluetooth Speaker,Electronics,5,1,1,N,Y,Overall pleased with the item,Works well. Bass is somewhat lacking but is pr...,2015-08-31

In [3]:
# print various attributes available in the dataset
data.columns

Index(['marketplace', 'customer_id', 'review_id', 'product_id',
       'product_parent', 'product_title', 'product_category', 'star_rating',
       'helpful_votes', 'total_votes', 'vine', 'verified_purchase',
       'review_headline', 'review_body', 'review_date'],
      dtype='object')

In [4]:
# print properties of attributes in the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3091024 entries, 0 to 3091023
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   marketplace        object
 1   customer_id        int64
 2   review_id          object
 3   product_id         object
 4   product_parent     int64
 5   product_title      object
 6   product_category   object
 7   star_rating        int64
 8   helpful_votes      int64
 9   total_votes        int64
 10  vine               object
 11  verified_purchase  object
 12  review_headline    object
 13  review_body        object
 14  review_date        object
dtypes: int64(5), object(10)
memory usage: 353.7+ MB

In [5]:
print ("Data rows before removing null values",data.shape[0])

Data rows before removing null values 3091024

In [6]:
# check the number of null values per column
print(data.isnull().sum())

marketplace           0
customer_id           0
review_id             0
product_id            0
product_parent        0
product_title         4
product_category      0
star_rating           0
helpful_votes         0
total_votes           0
vine                  0
verified_purchase     0
review_headline      31
review_body          88
review_date          24
dtype: int64

In [7]:
# replace null values with nan
data.replace('',np.nan,inplace=True)

In [8]:
# drop nan values in the data
data.dropna(axis=0, how='any', inplace=True)

In [9]:
# check the number of null values per column replacing with nan and dropping nan
print(data.isnull().sum())

marketplace          0
customer_id          0
review_id            0
product_id           0
product_parent       0
product_title        0
product_category     0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
review_headline      0
review_body          0
review_date          0
dtype: int64

In [10]:
print ("Data rows after removing null values",data.shape[0])

Data rows after removing null values 3090877

In [11]:
# adding a sentiment column to classify reviews as Positive or Negative

data['sentiment'] = np.where(data['star_rating'] == 5.0, 1,
                           np.where(data['star_rating'] == 4.0, 1, 0))

In [12]:
# export the data frame to a .csv file
data.to_csv (r'amazon_electronics.csv', index = False, header=True)